.our-services.section
  .container 
    .our-services__list 
      .our-services__item 
        .our-services__item-title Прокат авто
        .our-services__item-desc Временная аренда автомобиля на короткий или длинный срок для различных целей.
        .our-services__item-details Минимальное количество
          br
          | дней аренды - 1.
      .our-services__item 
        .our-services__item-title Аренда под такси
        .our-services__item-desc Аренда автомобиля для коммерческой перевозки пассажиров на автомобилях класса: Эконом, Комфорт, Комфорт+.
        .our-services__item-details Минимальное количество
          br
          | дней аренды - 14.
      .our-services__item 
        .our-services__item-title Выкуп авто
        .our-services__item-desc Аренда автомобиля с возможностью его передачи в Вашу собственность по истечении определенного срока.
        .our-services__item-details Минимальное количество  
          br
          | дней аренды - 90.
