footer.footer 
  .container 
    .footer__inner
      .footer__main 
        a(href="#").footer__logo
          img(src="./img/logo.svg", alt="")
        .footer__contacts
          a(href="tel:88005552031").footer__tel 8 800 555-20-31
          a(href="mailto:support@rentex.ru").footer__email support@rentex.ru
          .footer__adress г. Москва, Нагорный проезд, д. 5
        .footer__socials 
          a.footer__socials-link(href="#") 
            img(src="./img/icons/f-vk.svg", alt="")
          a.footer__socials-link(href="#") 
            img(src="./img/icons/f-tg.svg", alt="")
          a.footer__socials-link(href="#") 
            img(src="./img/icons/f-yt.svg", alt="")
      .footer__col 
        .footer__col-head.js-accordeon-mob-item Автопарк
        .footer__col-content.js-accordeon-mob-content
          nav.footer__nav 
            a.footer__nav-link(href="#") Аренда
            a.footer__nav-link(href="#") Выкуп
      .footer__col 
        .footer__col-head.js-accordeon-mob-item Клиентам
        .footer__col-content.js-accordeon-mob-content 
          nav.footer__nav 
            a.footer__nav-link(href="#") Помощь
            a.footer__nav-link(href="#") Порядок аренды
            a.footer__nav-link(href="#") Порядок выкупа
            a.footer__nav-link(href="#") FAQ
      .footer__col 
        .footer__col-head.js-accordeon-mob-item Информация
        .footer__col-content.js-accordeon-mob-content 
          nav.footer__nav 
            a.footer__nav-link(href="#") О компании
            a.footer__nav-link(href="#") Контакты
            a.footer__nav-link(href="#") Юридическая информация
      .footer__bottom 
        a(href="#").footer__bottom-link Пользовательское соглашение
        a(href="#").footer__bottom-link Политика конфиденциальности
    a(href="#").footer__btn.btn.btn--wide Выбрать автомобиль