.rent-conditions.section
  .container 
    h2.rent-conditions__title.h2 Условия аренды
    .rent-conditions__list 
      .rent-conditions__item 
        .rent-conditions__item-icon 
          img(src="./img/rent-conditions/rent-conditions-01.svg", alt="")
        .rent-conditions__item-title Стаж вождения от 1 года
      .rent-conditions__item 
        .rent-conditions__item-icon 
          img(src="./img/rent-conditions/rent-conditions-02.svg", alt="")
        .rent-conditions__item-title Возраст от 25 лет
      .rent-conditions__item 
        .rent-conditions__item-icon 
          img(src="./img/rent-conditions/rent-conditions-03.svg", alt="")
        .rent-conditions__item-title Гражданство РФ