.about-us.section
  .container 
    .about-us__title.h2 Удобный прокат транспортных средств
    .about-us__desc 
      p Арендовав автомобиль в Иркутске, вы сможете посетить наиболее значимые места района, затратив на это минимум времени. При необходимости мы оснащаем автомобиль дополнительными аксессуарам, начиная с детского кресла и заканчивая видеорегистратором и GPS-навигатором. На автомобиле вы легко посетите знаменитый Иркутский нерпинарий, а также доберетесь до таких поселков, как Листвянка, Култук, Слюдянка и Большое Голоустное.
      p Наша организация предлагает водителям популярную линейку эконом класса. В этом сегменте можно найти новый надёжный минивэн, бюджетный универсал, кроссовер, современный седан. Самые популярные транспортные средства экономной линейки - Skoda Fabia MT, Ford Focus, Nissan Almera. Взять напрокат выгодный дешёвый бюджетник можно в виртуальном режиме. При желании клиентам доступна опция заказа детского кресла, навигатора, бустера и других полезных предложений.
    .about-us__btn.btn Выбрать автомобиль