.reviews.section 
  .container 
    h2.reviews__title.h2 Нам доверяют
    .reviews__platforms
      .reviews__platform
        .reviews__platform-logo 
          img(src="./img/reviews/platform-01.png", alt="")
        .reviews__platform-details 
          .reviews__platform-rating 
            .reviews__platform-rating-stars 
              .reviews__platform-rating-star 
                img(src="./img/reviews/star.svg", alt="")
              .reviews__platform-rating-star 
                img(src="./img/reviews/star.svg", alt="")
              .reviews__platform-rating-star 
                img(src="./img/reviews/star.svg", alt="")
              .reviews__platform-rating-star 
                img(src="./img/reviews/star-gray.svg", alt="")
              .reviews__platform-rating-star 
                img(src="./img/reviews/star-gray.svg", alt="")
            .reviews__platform-rating-count 4,6
          .reviews__platform-comments 325
      .reviews__platform
        .reviews__platform-logo 
          img(src="./img/reviews/platform-02.png", alt="")
        .reviews__platform-details 
          .reviews__platform-rating 
            .reviews__platform-rating-stars 
              .reviews__platform-rating-star 
                img(src="./img/reviews/star.svg", alt="")
              .reviews__platform-rating-star 
                img(src="./img/reviews/star.svg", alt="")
              .reviews__platform-rating-star 
                img(src="./img/reviews/star.svg", alt="")
              .reviews__platform-rating-star 
                img(src="./img/reviews/star-gray.svg", alt="")
              .reviews__platform-rating-star 
                img(src="./img/reviews/star-gray.svg", alt="")
            .reviews__platform-rating-count 4,6
          .reviews__platform-comments 325
      .reviews__platform
        .reviews__platform-logo 
          img(src="./img/reviews/platform-03.png", alt="")
        .reviews__platform-details 
          .reviews__platform-rating 
            .reviews__platform-rating-stars 
              .reviews__platform-rating-star 
                img(src="./img/reviews/star.svg", alt="")
              .reviews__platform-rating-star 
                img(src="./img/reviews/star.svg", alt="")
              .reviews__platform-rating-star 
                img(src="./img/reviews/star.svg", alt="")
              .reviews__platform-rating-star 
                img(src="./img/reviews/star-gray.svg", alt="")
              .reviews__platform-rating-star 
                img(src="./img/reviews/star-gray.svg", alt="")
            .reviews__platform-rating-count 4,6
          .reviews__platform-comments 325
    .reviews__list 
      img(src="./img/reviews/reviews-preview.png", alt="")