.socials {
  display: flex;
  align-items: center;
  gap: 6px;

  &__item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: var(--bg-color);
    color: var(--color-whte);
    border-radius: 4px;
    transition: background-color 0.25s ease-in;

    &::before {
      content: '';
      width: 22px;
      height: 22px;
      mask: var(--icon) center center / contain no-repeat;
      -webkit-mask: var(--icon) center center / contain no-repeat;
      background-color: currentColor;
    }

    @media(any-hover: hover) {
      &:hover {
        background-color: var(--color-accent);
      }
    }
  }
}

.section {
  padding: 70px 0;

  @media(max-width: 767px) {
    padding: 40px 0;
  }
}