h1,
h2,
h3,
p {
  margin: 0;
}

.h1 {
  font-size: 60px;
  line-height: 1.32;
  font-weight: 700;

  @include mq($m) {
    font-size: 40px;
  }
}

.h2 {
  font-size: 45px;
  font-weight: 700;

  @include mq($m) {
    font-size: 30px;
  }
}

.h3 {

}