section.hero 
  .container 
    .hero__banner 
      picture.hero__bg 
        source(srcset="./img/hero/hero-bg.jpg" type="image/jpeg")
        img(src="./img/hero/hero-bg.webp", alt="")
      h1.hero__title.h1 
        | Аренда автомобилей  
        br
        | в Ангарске
      .hero__calculator 
        picture
          source(srcset="./img/hero/ifram-preview-sm.png" media="(max-width: 767px)" )
          img(src="./img/hero/iframe-preview.webp", alt="")