.our-products.section
  .container 
    .our-products__title.h2 Автомобили
    .our-products__list 
      .product-card 
        a(href="#").product-card__img  
          picture
            source(src="./img/catalog/product-01.png" type="image/png")
            img(src="./img/catalog/product-01.webp", alt="")
        .product-card__info 
          a(href="#").product-card__title Tesla Model Y, 2020
          .product-card__similar 
            .product-card__similar-desc или подобный
            .product-card__similar-tip 
        .product-card__details 
          a(href="#").product-card__detail 2020
          .product-card__detail Автомат
          .product-card__detail 1.6л
          .product-card__detail 5 мест
          .product-card__detail левый/руль
        .product-card__price 
          .product-card__price-current
            span 7 400 ₽ 
            | сутки
          .product-card__price-tip 
      .product-card 
        a(href="#").product-card__img  
          picture
            source(src="./img/catalog/product-02.png" type="image/png")
            img(src="./img/catalog/product-02.webp", alt="")
        .product-card__info 
          a(href="#").product-card__title Toyota Camry AT XV70
          .product-card__similar 
            .product-card__similar-desc или подобный
            .product-card__similar-tip 
        .product-card__details 
          a(href="#").product-card__detail 2020
          .product-card__detail Автомат
          .product-card__detail 1.6л
          .product-card__detail 5 мест
          .product-card__detail левый/руль
        .product-card__price 
          .product-card__price-current
            span 7 400 ₽ 
            | сутки
          .product-card__price-tip 
      .product-card 
        a(href="#").product-card__img  
          picture
            source(src="./img/catalog/product-03.png" type="image/png")
            img(src="./img/catalog/product-03.webp", alt="")
        .product-card__info 
          a(href="#").product-card__title Volkswagen Polo, 2021
          .product-card__similar 
            .product-card__similar-desc или подобный
            .product-card__similar-tip 
        .product-card__details 
          .product-card__detail 2020
          .product-card__detail Автомат
          .product-card__detail 1.6л
          .product-card__detail 5 мест
          .product-card__detail левый/руль
        .product-card__price 
          .product-card__price-current
            span 7 400 ₽ 
            | сутки
          .product-card__price-tip 
      .product-card 
        a(href="#").product-card__img  
          picture
            source(src="./img/catalog/product-04.png" type="image/png")
            img(src="./img/catalog/product-04.webp", alt="")
        .product-card__info 
          a(href="#").product-card__title Mercedes-Benz E-Класс, 2021
          .product-card__similar 
            .product-card__similar-desc или подобный
            .product-card__similar-tip 
        .product-card__details 
          .product-card__detail 2020
          .product-card__detail Автомат
          .product-card__detail 1.6л
          .product-card__detail 5 мест
          .product-card__detail левый/руль
        .product-card__price 
          .product-card__price-current
            span 7 400 ₽ 
            | сутки
          .product-card__price-tip 
      .product-card 
        a(href="#").product-card__img  
          picture
            source(src="./img/catalog/product-05.png" type="image/png")
            img(src="./img/catalog/product-05.webp", alt="")
        .product-card__info 
          a(href="#").product-card__title Lexus RX, 2018
          .product-card__similar 
            .product-card__similar-desc или подобный
            .product-card__similar-tip 
        .product-card__details 
          .product-card__detail 2020
          .product-card__detail Автомат
          .product-card__detail 1.6л
          .product-card__detail 5 мест
          .product-card__detail левый/руль
        .product-card__price 
          .product-card__price-current
            span 7 400 ₽ 
            | сутки
          .product-card__price-tip 
      .product-card 
        a(href="#").product-card__img  
          picture
            source(src="./img/catalog/product-06.png" type="image/png")
            img(src="./img/catalog/product-06.webp", alt="")
        .product-card__info 
          a(href="#").product-card__title Chery Arrizo 8, 2023
          .product-card__similar 
            .product-card__similar-desc или подобный
            .product-card__similar-tip 
        .product-card__details 
          .product-card__detail 2020
          .product-card__detail Автомат
          .product-card__detail 1.6л
          .product-card__detail 5 мест
          .product-card__detail левый/руль
        .product-card__price 
          .product-card__price-current
            span 7 400 ₽ 
            | сутки
          .product-card__price-tip 

    