.our-products {
  background-color: var(--color-send-light);

  &__title {
    margin-bottom: 60px;

    @include mq($m) {
      display: none;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    @media(max-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 16px;

  &__main {
    position: relative;
    overflow: hidden;
    border-radius: 16px;

    @media(any-hover: hover) {

      &:hover {
        .product-card__badge {
          opacity: 1;
        }
      }
    }
  }

  &__badge {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #FF787CCC;
    backdrop-filter: blur(10px);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: cl(whte);
    border-radius: 5px;
    padding: 15px 12px;
    opacity: 0;
    transition: 0.25s ease-in-out;
    cursor: pointer;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 305px;
    overflow: hidden;
    border-radius: 16px;

    @include mq($m) {
      border-radius: 0;
    }

    @media(max-width: 560px) {
      margin-bottom: 10px;
      height: 220px;
    }


    img, picture {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: cover;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 2px;
    color: var(--color-secondary);
    transition: color 0.25s ease-in-out;

    @media(any-hover: hover) {
      &:hover {
        color: var(--color-accent);
      }
    }
  }

  &__similar {
    display: flex;
    align-items: center;
    gap: 5px;

    &-desc {
      color: var(--color-gray-500);
    }

    &-tip {
      cursor: pointer;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      

      &::before {
        content: '';
        width: 16px;
        height: 16px;
        mask: url('../img/icons/info.svg') center center / 16px no-repeat;
        -webkit-mask: url('../img/icons/info.svg') center center / 16px no-repeat;
        background-color: var(--color-gray-300);
      }
    }
  }

  &__details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__detail {
    font-size: 14px;
    color: var(--color-gray-600);

    &:not(:first-of-type) {
      padding-left: 20px;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: currentColor;
        position: absolute;
        top: 7px;
        left: 9px;
      }
    }
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 6px;

    &-current {
      font-size: 16px;
      line-height: 1.3;
      font-weight: 600;
      color: var(--color-secondary);

      span {
        font-size: 25px;
        font-weight: 700;
      }
    }

    &-tip {
      cursor: pointer;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      &::before {
        content: '';
        width: 16px;
        height: 16px;
        mask: url('../img/icons/info.svg') center center / 16px no-repeat;
        -webkit-mask: url('../img/icons/info.svg') center center / 16px no-repeat;
        background-color: var(--color-gray-300);
      }
    }
  }
}